.container {
    font-size: 0;
    box-sizing: border-box;
}

.header {     
    border: solid 2px red;
    height: 100px;

}

.flex {
    display: flex;
    border: solid 2px blueviolet;
    justify-content: space-around;
    height: 500px;
    

}
.vertical {
    display: inline-block;
    border: solid 4px black;
    height: 100%;
}
.vertical_left {
    flex-grow: 2;
    
}
.vertical_right {
    display: flex;
    flex-grow: 6;
    flex-direction: column;
    
}

.central {
border: solid 2px red;
flex-grow: 2;
}

.centralright {
    border: solid 2px blue;
    flex-grow: 1;
}

.central_botton {
    display: flex;
    border: solid 2px blue;
    flex-grow: 3;
}
.cental_top {
    display: flex;
    border: solid 2px blue;
    flex-grow: 2;
}
    
    
